<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        color: black;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <a href="https://techonemx.com/asistencia/<%- email %>">
    <table
      background="https://beemexico.com/lenovo-tech/inviteNumero.png"
      width="809px"
      min-width="809px"
      height="1251px" 
    >
      <tr>
        <td height="480px" width="65px">.</td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>

      <tr style="line-height: 9px">
        <td> </td>
        <td> </td>
        <td width="250px" height="250px">
          <img
            width="250px"
            height="250px"
            src="cid:imgid"
          />
        </td>
        <td> </td>
      </tr>
      <tr style="line-height: 0.5px">
        <td> </td>
        <td
          height="30px"
          width="400px"
          style="color: white; font-size: 32.97px; color: #6abb46"
        >
        <%- fecha %> de 2022
        </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr style="line-height: 0.5px">
        <td>.</td>
        <td height="30px" style="color: white; font-size: 36px; color: #8046a7">
          <%- hora %>
        </td>
        <td>  </td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    </table>
  </a>
  </body>
</html>
