<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    </head>
    
    <body>
        <div align="center" style="font-family: Arial; min-width: 700px; line-height: 0;">
            <a href="#">
                <img src="https://lenovo-tech.s3.amazonaws.com/register-mail/Lenovo_One_Lenovo_2022_mailing-REMINDER-BIG-EVENT_R02_01.png" style="display: block;">
                <a href="https://techonemx.com/">
                    <img src="https://lenovo-tech.s3.amazonaws.com/register-mail/Lenovo_One_Lenovo_2022_mailing-REMINDER-BIG-EVENT_R02_02.png" style="display: block;">
                </a>
                <img src="https://lenovo-tech.s3.amazonaws.com/register-mail/Lenovo_One_Lenovo_2022_mailing-REMINDER-BIG-EVENT_R02_03.png" style="display: block;">
                <a href="https://forms.gle/nftbabLBdtEBqhT46">
                    <img src="https://lenovo-tech.s3.amazonaws.com/register-mail/Lenovo_One_Lenovo_2022_mailing-REMINDER-BIG-EVENT_R02_04.png" style="display: block;">
                </a>
                <img src="https://lenovo-tech.s3.amazonaws.com/register-mail/Lenovo_One_Lenovo_2022_mailing-REMINDER-BIG-EVENT_R02_05.png" style="display: block;"> 
            </a>
        </div>
    </body>
</html>